<p class="first">Acá podrás cambiar la configuración de tu sitio</p>

<p>Esto debería tener un panel al lado con los botones a las distintas configuraciones, tipo tabs</p>

<%= render :partial => 'admin/configs/partials/categories' %>